body 
	{
		background-color: #fbfff2;
	}
a
	{
		color: white;
		text-decoration: none;
		border: 1px solid white;
		padding: 5px;
		min-width: 10vw;
		text-align: center;
		background-color: #0DAD8D;
	}
div
	{
		padding-left: 10px;
    	width: 100%;
    	padding-right: 10px;
		padding-bottom: 15px;
	}
@media screen and (min-width: 1000px)  /* Landscape */
{
	body 
	{
		font-size: 15px;
	}
	
	#left
	{
		width: 15%;
	}
	
	#center
	{
		width: 85%;
	}
}

@media screen and (max-width: 999px) /* Portrait */
{
	body 
	{
		font-size: 30px;
	}
	
	#left
	{
		width: 20%;
		font-size: 20px;
	}
	
	#center
	{
		width: 80%;
	}
}body 
	{
		background-color: #fbfff2;
	}
a
	{
		color: white;
		text-decoration: none;
		border: 1px solid white;
		padding: 5px;
		min-width: 10vw;
		text-align: center;
		background-color: #0DAD8D;
	}
div
	{
		padding-left: 10px;
    	width: 100%;
    	padding-right: 10px;
		padding-bottom: 15px;
	}
@media screen and (min-width: 1000px)  /* Landscape */
{
	body 
	{
		font-size: 15px;
	}
	
	#left
	{
		width: 15%;
	}
	
	#center
	{
		width: 85%;
	}
}

@media screen and (max-width: 999px) /* Portrait */
{
	body 
	{
		font-size: 30px;
	}
	
	#left
	{
		width: 20%;
		font-size: 20px;
	}
	
	#center
	{
		width: 80%;
	}
}